.playerPage {
  padding: 20px;
  max-width: 90%;
  margin: auto;
  text-align: center;
}

.playerPage h1 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 16px;
}

.playerPage h2 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.playerPage p {
  color: #fff;
  margin-bottom: 24px;
}

.shinyList {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
  position: relative;
}

.favouriteList {
  margin-bottom: 2rem;
}


.favouritesHeader {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
  display: block;
  position: relative;
  letter-spacing: 1px;
}
.favouriteGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;           
  justify-content: center; 
  align-items: center;  
}

.bigShinyWrapper {
  flex: 0 1 120px; 
}


.bigShinyWrapper:hover {
  z-index: 50;
}

.bigShinyWrapper span > div {
  transform: scale(1.3);
  transition: transform 0.2s;
  box-shadow:
    0 0 15px rgba(255, 215, 0, 0.8),
    0 0 30px rgba(255, 215, 0, 0.5),
    0 0 45px rgba(255, 215, 0, 0.3);
}

.bigShinyWrapper span > div:hover {
  transform: scale(1.4);
  box-shadow:
    0 0 20px rgba(255, 215, 0, 1),
    0 0 40px rgba(255, 215, 0, 0.7),
    0 0 60px rgba(255, 215, 0, 0.5);
}

@media (max-width: 900px) {
  .bigShinyWrapper span > div {
    transform: scale(1.2);
  }
  .bigShinyWrapper span > div:hover {
    transform: scale(1.1);
  }
}


/* Twitch live embed section */
.twitchSection {
  margin-top: 2rem;
  text-align: center;
}

/* Wrapper for responsive iframe */
.twitchWrapper {
  position: relative;
  width: 100%;
  max-width: 620px; /* max width for desktop */
  margin: 0 auto;
  padding-top: 56.25%; /* 16:9 aspect ratio for mobile */
}

/* iframe styling */
.twitchIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 12px;
}

/* Desktop-specific fix: prevent stretched height */
@media (min-width: 768px) {
  .twitchWrapper {
    padding-top: 0;
    height: 378px; /* fixed height for desktop */
  }

  .twitchIframe {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
